# Phase 1 Project

# Project Overview

The main goal of this project is to conduct a comprehensive analysis of historical aviation incident data, with the purpose of identifying aircraft models that pose lower risk. This analysis will also provide detailed, actionable insights into the underlying factors that contribute to aviation incidents, such as technical failures, human errors, or environmental conditions. By thoroughly understanding these contributing factors, the company will be better equipped to make informed decisions on which aircraft to acquire. Additionally, these insights will help in developing targeted strategies and safety protocols to proactively minimize operational risks and enhance overall aviation safety in future once they acquirethe aircraft

# Business Understanding


Our company wants to expand into the aviation sector by buying and operating aircraft for commercial and private use. However, we lack knowledge about the risks involved with aircraft. The task is to identify the types of aircraft that carry the least risk. Then,  present the findings in a clear way to help the head of the new aviation division decide which aircraft to purchase.

# Data Understanding and Analysis

Data The dataset we are using for this project is drawn from kaggle.com gotteen from National Transportation Safety Board. The aviation accident database provides information on civil aviation accidents and select incidents dating back to 1962 to 2023 encompassing the United States, its territories, and international waters.

# Importing the relevant libraries

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt    
%matplotlib inline

# Loading the Data

In [2]:
# loading the data
AviationData = pd.read_csv(r"C:\Users\Damaris\Desktop\AviationData.csv", encoding='latin1',low_memory=False)
aviation_data = AviationData

In [3]:
# Display maximum number of columns
pd.set_option("display.max_columns",100)
aviation_data.head()        # Display the five rows of the dataset

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
# Shape of the dataset
print(f"This dataset has {aviation_data.shape[0]} rows and {aviation_data.shape[1]} columns.")

This dataset has 88889 rows and 31 columns.

In [5]:
# Statistical summary for numerical dataset
aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

# Data Cleaning

In [6]:
# check for duplicates
print(f"We have {aviation_data.duplicated().sum()} duplicates in this dataset")

We have 0 duplicates in this dataset

# Checking and Handling Missing Values

In [7]:
# Check for missing values

aviation_data.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

### Percentage of Null values

In [8]:
# Calculate null percentage
null_percentage = [(col, (aviation_data[col].isna().sum() / len (aviation_data)) * 100) for col in aviation_data.columns]
# create a Dataframe from the null_percentageabs
null_percentages_df = pd.DataFrame(null_percentage, columns = ["Column", "Null_Percentage"])
# Sort in a descending order  
null_percentages_df = null_percentages_df.sort_values(by="Null_Percentage", ascending = False)
# print the sorted dataframe
null_percentages_df

                    Column  Null_Percentage
20                Schedule        85.845268
22             Air.carrier        81.271023
19         FAR.Description        63.974170
12       Aircraft.Category        63.677170
7                Longitude        61.330423
6                 Latitude        61.320298
8             Airport.Code        43.601570
9             Airport.Name        40.708074
28   Broad.phase.of.flight        30.560587
30        Publication.Date        15.492356
24  Total.Serious.Injuries        14.073732
25    Total.Minor.Injuries        13.424608
23    Total.Fatal.Injuries        12.826109
18             Engine.Type         7.982990
29           Report.Status         7.181991
21       Purpose.of.flight         6.965991
17       Number.of.Engines         6.844491
26         Total.Uninjured         6.650992
27       Weather.Condition         5.053494
11         Aircraft.damage         3.593246
13     Registration.Number         1.554748
10         Injury.Severity         1.124999
5                  Country         0.254250
16           Amateur.Built         0.114750
15                   Model         0.103500
14                    Make         0.070875
4                 Location         0.058500
2          Accident.Number         0.000000
1       Investigation.Type         0.000000
0                 Event.Id         0.000000
3               Event.Date         0.000000

#### Dropping Columns with Null_Percentages above 35%

In [9]:
# Filter columns to drop with null percentage of above 35%
columns_to_drop = null_percentages_df[null_percentages_df["Null_Percentage"] > 35]["Column"]
aviation_data_cleaned = aviation_data.drop(columns=columns_to_drop)

# Display the cleaned DataFrame and the columns dropped
print("Columns dropped:", columns_to_drop.tolist())
print("Cleaned Dataframe shape:", aviation_data_cleaned.shape)

Columns dropped: ['Schedule', 'Air.carrier', 'FAR.Description', 'Aircraft.Category', 'Longitude', 'Latitude', 'Airport.Code', 'Airport.Name']
Cleaned Dataframe shape: (88889, 23)

#### Handling the irrelevant columns in my dataset

In [10]:
# columns that i feel they will not impact my analysis in any way
irrelavant_columns = ["Event.Id",
                      "Investigation.Type", 
                      "Accident.Number", 
                      "Publication.Date",
                      "Report.Status", 
                      "Country",
                      "Registration.Number"
                    
                     ]

# Check which columns are present in both lists
more_columns_to_drop = [col for col in irrelavant_columns if col in aviation_data_cleaned.columns]

# Dropping the irrelevant columns
aviation_data_cleaned = aviation_data_cleaned.drop(columns=more_columns_to_drop)
aviation_data_cleaned.shape

(88889, 16)

In [11]:
# Define the columns with fewer null values
columns_with_less_null = ["Location", "Make", "Model", "Amateur.Built"]

# Drop the rows with null values in specified columns
aviation_data_cleaned = aviation_data_cleaned.dropna(subset=columns_with_less_null)

In [12]:
# Fill the null with zero (0) in numerical columns
columns_to_fill = [
    "Total.Fatal.Injuries",
    "Total.Serious.Injuries",
    "Total.Minor.Injuries",
    "Total.Uninjured",
    "Injury.Severity"
    
]

# Using a for loop to fill nulls with 0 
for col in columns_to_fill:
    aviation_data_cleaned[col] = aviation_data_cleaned[col].fillna(0)

In [13]:
# Filling Nulls with unknown in categorical columns
columns_to_fill_2 = [
    "Aircraft.damage",
    "Number.of.Engines",
    "Engine.Type",
    "Purpose.of.flight",
    "Broad.phase.of.flight"
]

for column in columns_to_fill_2:
    aviation_data_cleaned[column] = aviation_data_cleaned[column].fillna("Unknown")

In [17]:
# filling the missing values in wether conditions and replacing the UNK, unk with unknown
aviation_data_cleaned["Weather.Condition"] = aviation_data_cleaned["Weather.Condition"].fillna("Unknown")
aviation_data_cleaned["Weather.Condition"].replace(["UNK", "unknown", "Unknown"], "Unknown")

0        Unknown
1        Unknown
2            IMC
3            IMC
4            VMC
          ...
88884    Unknown
88885    Unknown
88886        VMC
88887    Unknown
88888    Unknown
Name: Weather.Condition, Length: 88630, dtype: object

In [15]:
# Check the null 
aviation_data_cleaned.isna().sum()

Event.Date                0
Location                  0
Injury.Severity           0
Aircraft.damage           0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
dtype: int64

#### Converting Event.Dates

In [18]:
aviation_data_cleaned["Event.Date"].head()

0    10/24/1948
1     7/19/1962
2     8/30/1974
3     6/19/1977
4      8/2/1979
Name: Event.Date, dtype: object

In [22]:
# pd.to_datetime()
print(f"Event.Date has changed from object to {pd.to_datetime(aviation_data_cleaned["Event.Date"]).head()}")

Event.Date has changed from object to 0   1948-10-24
1   1962-07-19
2   1974-08-30
3   1977-06-19
4   1979-08-02
Name: Event.Date, dtype: datetime64[ns]

In [28]:
# Change the whole dataset Event.Date
aviation_data_cleaned["Event.Date"] = pd.to_datetime(aviation_data_cleaned["Event.Date"])
print(aviation_data_cleaned["Event.Date"].head(3))  

# Extract the year from 'Event.Date' to analyze trends over time
aviation_data_cleaned["Event.Year"] = aviation_data_cleaned["Event.Date"].dt.year

0   1948-10-24
1   1962-07-19
2   1974-08-30
Name: Event.Date, dtype: datetime64[ns]

In [29]:
# saving my cleaned data to csv
aviation_data_cleaned = aviation_data

# Save the cleaned DataFrame to a CSV file
aviation_data_cleaned.to_csv('Cleaned_data.csv', index=False)